body {color: black; background-color: white;}

#navigation {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
}

.header {	
	background-color:#eeeeee;
	padding: 0.5em;
	height: 17px;
	box-shadow: 1px 12px 18px -10px rgba(189,183,189,0.39);
}
.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a { color: black;
					  padding: 12px 16px;
					  text-decoration: none;
					  display: block}


.dropdown-content a:hover {  background-color: #B0E0E6;}

.stage { position: relative; }

.stage img { display: block;}

.stage span{
  position: absolute;
  top:70%;
  right: 2%;
  color: #fff;
  text-align: center;
  height: ;
  line-height: 0em;
  padding: 0.5em;
  background: #ffffff; /* Fallback IE 6-8 */
  background-color: rgba(255, 255, 255, 0.8);;
	
}

h1 {text-align: center; color: #00BFFF;}


h2 {text-align: center; font-style: italic} 


p {font-family: verdana;  font-size: 20px;}

#menü { display: block; }
		
#stage { display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;}
	
