body {background-color: rgb(211, 70, 94); color: white;}
h1 {text-align: center; background-color:Gray;}
h3 {text-align: center;}
p {font-family: verdana;  font-size: 20px;}
img {display: block;
  margin-left: auto;
  margin-right: auto;}
