body {color: black; background-color: white;}

.stage { position: relative; }

.stage img { display: block;}

.stage .navbar {
	position: absolute;
	top:0%;
	right:0%;
	width: auto;
	background-color: rgb(176, 224, 230, 0.6);
	
}

.stage .navbar a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 35px 50px;
	text-decoration: none;
	font-size: 20px;
}

.stage .navbar .dropdown {
	float: left;
	overflow: hidden;
}

.stage .navbar .dropbtn {
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	padding: 35px 50px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0;
}

.stage .navbar a:hover, .dropdown:hover .dropbtn{
  background-color: rgb(176, 224, 230, 1);
}
	


.stage .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(176, 224, 230, 0.6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.stage .navbar .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.stage .navbar .dropdown-content a:hover {
  background-color: rgb(176, 224, 230);
}

/* Show the dropdown menu on hover */
.stage .dropdown:hover .dropdown-content {
  display: block;
}



a.active {
  background-color: rgb(176, 224, 230);
}

.stage span{
	  position: absolute;
	  top:70%;
	  right: 2%;
	  color: #aaa;
	  text-align: center;
	  height: ;
	  line-height: 0.75em;
	  padding: 0.5em;
	  background-color: rgba(255, 255, 255, 1);
	  box-shadow: 6px 6px 5px 0px rgba(176,224,230,0.45);
}
@media screen and (min-width: 824px){
	.stage span {
	  font-size: 40px;
	}	
}
@media screen and (min-width:1200px){
	.stage span {
	  font-size: 60px;
	}	
}
@media screen and (max-width:824px){
	.stage span {
	  font-size: 25px;
	}	
}



h1 {text-align: center; color: #000000;}


h2 {text-align: center; font-style: italic; color: #B0E0E6} 


p {font-family: verdana;  font-size: 15px; padding-bottom: 2500px}

#menü { display: block; }
		
#stage { display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(176, 224, 230, 0.6); /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-weight: bold;
}

#myBtn:hover {
  background-color: rgb(176, 224, 230); /* Add a dark-grey background on hover */
}
	
